02-experiment-tracking/mlflow.db
02-experiment-tracking/mlflow.db
02-experiment-tracking/mlruns/1/0f25b7a8ff7e41f583596de4e2fc3801/artifacts/metric_info.json
02-experiment-tracking/mlruns/1/0f25b7a8ff7e41f583596de4e2fc3801/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/0f25b7a8ff7e41f583596de4e2fc3801/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/0f25b7a8ff7e41f583596de4e2fc3801/artifacts/model/model.pkl
02-experiment-tracking/mlruns/1/0f25b7a8ff7e41f583596de4e2fc3801/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/0f25b7a8ff7e41f583596de4e2fc3801/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/11d07fca60764669bfd8630b85618cf5/artifacts/models_airflow/conda.yaml
02-experiment-tracking/mlruns/1/11d07fca60764669bfd8630b85618cf5/artifacts/models_airflow/MLmodel
02-experiment-tracking/mlruns/1/11d07fca60764669bfd8630b85618cf5/artifacts/models_airflow/model.xgb
02-experiment-tracking/mlruns/1/11d07fca60764669bfd8630b85618cf5/artifacts/models_airflow/python_env.yaml
02-experiment-tracking/mlruns/1/11d07fca60764669bfd8630b85618cf5/artifacts/models_airflow/requirements.txt
02-experiment-tracking/mlruns/1/2d5148ea517c49cfaf209c704614f4b9/artifacts/metric_info.json
02-experiment-tracking/mlruns/1/2d5148ea517c49cfaf209c704614f4b9/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/2d5148ea517c49cfaf209c704614f4b9/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/2d5148ea517c49cfaf209c704614f4b9/artifacts/model/model.pkl
02-experiment-tracking/mlruns/1/2d5148ea517c49cfaf209c704614f4b9/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/2d5148ea517c49cfaf209c704614f4b9/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/66efcdb726b24c46ad2a6eb88bd1d4ca/artifacts/metric_info.json
02-experiment-tracking/mlruns/1/66efcdb726b24c46ad2a6eb88bd1d4ca/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/66efcdb726b24c46ad2a6eb88bd1d4ca/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/66efcdb726b24c46ad2a6eb88bd1d4ca/artifacts/model/model.pkl
02-experiment-tracking/mlruns/1/66efcdb726b24c46ad2a6eb88bd1d4ca/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/66efcdb726b24c46ad2a6eb88bd1d4ca/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/6f3befd7e4f34fb2b413d070043230cb/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/6f3befd7e4f34fb2b413d070043230cb/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/6f3befd7e4f34fb2b413d070043230cb/artifacts/model/model.pkl
02-experiment-tracking/mlruns/1/6f3befd7e4f34fb2b413d070043230cb/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/6f3befd7e4f34fb2b413d070043230cb/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/8a3bef86375a482ba4f77ddaac2df6e0/artifacts/models_airflow/conda.yaml
02-experiment-tracking/mlruns/1/8a3bef86375a482ba4f77ddaac2df6e0/artifacts/models_airflow/MLmodel
02-experiment-tracking/mlruns/1/8a3bef86375a482ba4f77ddaac2df6e0/artifacts/models_airflow/model.xgb
02-experiment-tracking/mlruns/1/8a3bef86375a482ba4f77ddaac2df6e0/artifacts/models_airflow/python_env.yaml
02-experiment-tracking/mlruns/1/8a3bef86375a482ba4f77ddaac2df6e0/artifacts/models_airflow/requirements.txt
02-experiment-tracking/mlruns/1/ace9fa800d4d40adbd693875d0585bcc/artifacts/metric_info.json
02-experiment-tracking/mlruns/1/ace9fa800d4d40adbd693875d0585bcc/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/ace9fa800d4d40adbd693875d0585bcc/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/ace9fa800d4d40adbd693875d0585bcc/artifacts/model/model.pkl
02-experiment-tracking/mlruns/1/ace9fa800d4d40adbd693875d0585bcc/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/ace9fa800d4d40adbd693875d0585bcc/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/e6243f26f5e24248853684c3aa9e753f/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/e6243f26f5e24248853684c3aa9e753f/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/e6243f26f5e24248853684c3aa9e753f/artifacts/model/model.pkl
02-experiment-tracking/mlruns/1/e6243f26f5e24248853684c3aa9e753f/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/e6243f26f5e24248853684c3aa9e753f/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/ed806cd7598c461ba9be4021c0b63bd6/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/ed806cd7598c461ba9be4021c0b63bd6/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/ed806cd7598c461ba9be4021c0b63bd6/artifacts/model/model.pkl
02-experiment-tracking/mlruns/1/ed806cd7598c461ba9be4021c0b63bd6/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/ed806cd7598c461ba9be4021c0b63bd6/artifacts/model/requirements.txt
02-experiment-tracking/models/preproccessor.b
02-experiment-tracking/mlflow.db
02-experiment-tracking/mlflow.db
02-experiment-tracking/backend.db
02-experiment-tracking/mlflow.db
02-experiment-tracking/artifacts_local/1/41a852dde27746cab0be9ace69834d1c/artifacts/models/conda.yaml
02-experiment-tracking/artifacts_local/1/41a852dde27746cab0be9ace69834d1c/artifacts/models/MLmodel
02-experiment-tracking/artifacts_local/1/41a852dde27746cab0be9ace69834d1c/artifacts/models/model.pkl
02-experiment-tracking/artifacts_local/1/41a852dde27746cab0be9ace69834d1c/artifacts/models/python_env.yaml
02-experiment-tracking/artifacts_local/1/41a852dde27746cab0be9ace69834d1c/artifacts/models/requirements.txt
02-experiment-tracking/mlruns/0/meta.yaml
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/meta.yaml
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/artifacts/iris_models/conda.yaml
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/artifacts/iris_models/MLmodel
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/artifacts/iris_models/model.pkl
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/artifacts/iris_models/python_env.yaml
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/artifacts/iris_models/requirements.txt
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/metrics/accuracy
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/params/C
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/params/random_state
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/tags/mlflow.log-model.history
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/tags/mlflow.source.name
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/tags/mlflow.source.type
02-experiment-tracking/mlruns/0/5fbd413c51624be6b830af9c4b8efa13/tags/mlflow.user
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/meta.yaml
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/artifacts/iris_models/conda.yaml
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/artifacts/iris_models/MLmodel
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/artifacts/iris_models/model.pkl
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/artifacts/iris_models/python_env.yaml
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/artifacts/iris_models/requirements.txt
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/metrics/accuracy
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/params/C
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/params/random_state
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/tags/mlflow.log-model.history
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/tags/mlflow.source.name
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/tags/mlflow.source.type
02-experiment-tracking/mlruns/0/6558a24b540d4c0dadd898926f479478/tags/mlflow.user
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/meta.yaml
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/artifacts/iris_models/conda.yaml
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/artifacts/iris_models/MLmodel
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/artifacts/iris_models/model.pkl
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/artifacts/iris_models/python_env.yaml
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/artifacts/iris_models/requirements.txt
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/metrics/accuracy
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/params/C
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/params/random_state
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/tags/mlflow.log-model.history
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/tags/mlflow.source.name
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/tags/mlflow.source.type
02-experiment-tracking/mlruns/0/95a51eab4f0548219b2718ab1f9532a5/tags/mlflow.user
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/feature_importance_weight.json
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/feature_importance_weight.png
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/model/model.xgb
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/models_airflow/conda.yaml
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/models_airflow/MLmodel
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/models_airflow/model.xgb
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/models_airflow/python_env.yaml
02-experiment-tracking/mlruns/1/54294683520c4270ba35c43f38e5f62a/artifacts/models_airflow/requirements.txt
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/feature_importance_weight.json
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/feature_importance_weight.png
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/model/conda.yaml
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/model/MLmodel
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/model/model.xgb
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/model/python_env.yaml
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/model/requirements.txt
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/models_mlflow/conda.yaml
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/models_mlflow/MLmodel
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/models_mlflow/model.xgb
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/models_mlflow/python_env.yaml
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/models_mlflow/requirements.txt
02-experiment-tracking/mlruns/1/d9a4c6e3bfa841a79b0f9b1046c92d40/artifacts/preprocessor/preprocessor.b
02-experiment-tracking/models/preprocessor.b
02-experiment-tracking/preprocessor/preprocessor.b
02-experiment-tracking/mlflow.db
02-experiment-tracking/mlflow.db
02-experiment-tracking/output/dv.pkl
02-experiment-tracking/output/test.pkl
02-experiment-tracking/output/train.pkl
02-experiment-tracking/output/valid.pkl
02-experiment-tracking/hyper_param_optimize.py
02-experiment-tracking/mlflow.db
02-experiment-tracking/register_model.py
02-experiment-tracking/scenario3_aws_remote_server.ipynb
02-experiment-tracking/train.py
